.form-section {
  width: 100%;
  background-color: var(--primary-clr);
  border-radius: var(--border-radius);
  margin-top: 4rem;
  padding: 1.5rem;
}

.form-section form {
  color: var(--background-clr);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form-section h1 {
  font-size: var(--fs-title);
  padding-bottom: 1rem;
}

.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tab {
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  display: flex;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  background-color: var(--background-clr);
  color: var(--primary-clr);
  border: 2px solid transparent;
}

.active-tab {
  background-color: var(--primary-clr);
  color: var(--background-clr);
  border: var(--border);
}

.tab:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.tab:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.form-searcbar {
  margin-bottom: 4rem;
  padding: 0.5rem;
  width: 50%;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--background-clr);
}

.form-line {
  height: 0.2rem;
  width: 50%;
  background-color: var(--background-clr);
  border-radius: var(--border-radius);
  margin-block: 1rem;
}

.tags {
  display: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-block: 0.8rem;
  padding-inline: 2rem;
}

.active-tags {
  display: flex;
}

.search-btn {
  background-color: var(--background-clr);
  color: var(--primary-clr);
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  border-radius: var(--border-radius);
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  margin-top: 1rem;
}

.search-btn:hover,
.search-btn:focus {
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5em 0.5em #1f162898;
  box-shadow: 0 0.5em 0.5em #1f162898;
}
